/*

	Developed by Kai Micah Mills
	10/7/2017

*/

html {
	background: url(../../images/background.jpg) no-repeat center center; 
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	overflow-x: hidden;
	font-family: DIN;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFCD00;
	text-align: center;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: inherit;
}

::selection {
	background: #303030;
}

::-moz-selection {
	background: #303030;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
	font-family: DIN; src: url('../fonts/DIN_OT_Regular.otf');
}

@font-face {
	font-family: DINBOLD; src: url('../fonts/DIN_OT_Bold.otf');
}

* {
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	transition: 0.25s ease;
}

i {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

.outer {
	height: 100%;
	width: 100%;
	position: absolute;
	display: table;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 100px;
}

.logo img {
	width: 200px;
	display: block;
	margin: auto;
}

.title {
	font-family: DINBOLD;
	font-size: 70px;
	letter-spacing: 10px;
	font-weight: bold;
	margin-top: -15px;
	margin-left: 2px;
}

.sub-title {
	font-size: 20px;
	margin-top: -10px;
	letter-spacing: 10px;
	margin-left: 5px;
}

.icons {
	display: inline-block;
	width: auto;
	margin: auto;
	margin-top: 60px;
}

.icon {
	height: 50px;
	width: 50px;
	margin: 30px;
	float: left;
}

.icon img {
	height: 100%;
	width: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #CFAD2C;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(207,173,44,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(207,173,44,1);
	box-shadow: 0px 0px 0px 2px rgba(207,173,44,1);
}

.icon img:hover {
	-webkit-filter: brightness(110%);  
	-moz-filter: brightness(110%);  
	filter: brightness(110%);  
}

.comment-outer {
	position: absolute;
	width: 100%;
	bottom: 50px;
}

.comment-middle {
	width: 700px;
	margin: auto;
}

.comment {
	letter-spacing: 5px;
	color: #CFAD2C;
	font-weight: bold;
}

.contact {
	padding: 10px 20px 10px 20px;
	background-color: #1A1A1A;
	border: 2px solid #CFAD2C;
	color: #CFAD2C;
	text-align: center;
	position: absolute;
	top: 30px;
	right: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}

.contact:hover {
	-webkit-filter: brightness(110%);  
	-moz-filter: brightness(110%);  
	filter: brightness(110%);  
}

@media screen and (max-width: 800px) {
	.comment-middle {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.icon {
		margin: 10px;
	}
	.icons {
		
	}
	.comment-outer {
		bottom: -50px;
		padding-bottom: 50px;
	}
	.title, .sub-title {
		padding-left: 50px;
		padding-right: 50px;
	}
	.sub-title {
		margin-top: 25px;
	}
}